# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment (if in project)
.env/
.venv/

# Poetry
poetry.lock

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
